@font-face {
    font-family: 'bebasregular';
    src: url('bebas_regular_macroman/BEBAS___-webfont.eot');
    src: url('bebas_regular_macroman/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas_regular_macroman/BEBAS___-webfont.woff') format('woff'),
         url('bebas_regular_macroman/BEBAS___-webfont.ttf') format('truetype'),
         url('bebas_regular_macroman/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

