/* Ghost Buttons
===========================
*/

/* Algemene button instellingen */

.btn {
    padding: 0.5rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #109a78;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 250px;

    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: white;
}


.btn:hover{
    background-color: #9A1736;
    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: white;
}



/* Buttons op de home */
.btns {
    text-align: center;
    margin-top: 200px;
}


/* Lay-out buttons detail-pagina*/

.btn-details ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-details ul li {
    margin: 0;
    padding: 0;

}

.btn-details ul li a  {
    height: 200px;
    width: 50%;
    background: white;
    list-style:none;
    float: left;
    border: 1px solid #ececec;
    display: block;
    text-decoration: none;

}

.btn-details ul li a:hover {
   background-color: #109a78;
    text-color: white;
}

.btn-details ul li a:active {
    background-color: #109a78;

}


.btn-details h4 {
    text-align: center;
    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: black;
    font-size: 16px;
}



/* PAST DE ARROW BUTTON AAN*/
.fa-chevron-right {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #109a78;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;

}

.btn-arrow {
    float: right;
    padding: 15px;
}



/* icons */

.fa-user {
    content: '\f007';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
}


.fa-lock {
    content: '\f023';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;

}

.fa-heart {
    content: '\f004';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
}



.fa-location-arrow {
    content: '\f124';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;

}

.fa-cog {
    content: '\f013';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
}

.fa-info-circle {
    content: '\f05a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #9A1736;
    font-size: 30px;
    padding-right: 0.5em;
    top: 10px;
    left: 0;
}

.btn-profile {
    float: left;
    padding: 15px;
    width: 60px;
}


#newUsername {
    padding: 0.5rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    background-color: white;
    border: 1px solid #109a78;
    border-radius: 4px;
    width: 250px;

    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: black;
}

#newUsername::selection {
    background-color: #109a78;
    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: black;
}


/* Yes button for Reset Changes page */
.yesbtn {
    padding: 0.5rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #109a78;
    border: 1px solid transparent;
    border-radius: 4px;

    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: white;
}

.yesbtn:hover {
    background-color: white;
    color: #109a78;
}
.yesbtn:active {
    background-color: white;
    color: #109a78;
}


/* No button for reset changes page */
.nobtn {
    padding: 0.5rem 1rem;
    margin: 0 5px 0 5px;
    margin-bottom: 20px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #9A1736;
    border: 1px solid transparent;
    border-radius: 4px;

    text-decoration: none;
    font-family: 'bebasregular', sans-serif;
    color: white;
}

.nobtn:hover {
    background-color: white;
    color: #9A1736;
}

.nobtn:active {
    background-color: white;
    color: #9A1736;
}



/* MEDIA QUERIES */
@media (min-width: 20rem) {
    .btns {
        margin-top: 100px;
    }
}

@media (min-width: 30rem) {
    .btns {
        margin-top: 250px;
    }
}


@media (min-width: 42.5rem) {

    .fa-chevron-right {
        margin-right: 40px;
    }
}