/* Header-wrapper-home
*/
.header-wrapper-home {
    position: relative;
    top: 0;
    left: 0;
    z-index: 998;
    background: url(../images/treesheader.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);

}


/* Logo plaatsen */
.logo_home {
    height: auto;
    width: 100%;
    text-align: center;

}



/* MEDIA QUERIES */

@media (min-width: 20rem) {
    .header-wrapper-home {
        height: 275px;

    }

    .country__tile .country__title {
        min-height: 112px;
    }

    .logo_home {
        margin-top: 14.8rem;
        margin-bottom: -20px;
    }

}


@media (max-width: 30rem) {
    .logo_home img {
        width: 180px;
        height: auto;
    }

    .logo_home {
        height: auto;
        margin-top: 11rem;
        width: 100%;
        text-align: center;

    }
}


@media (min-width: 30rem) {

    .header-wrapper-home {
        height: 400px;
    }


}

@media (min-width: 42.5rem) {

    .header-wrapper-home {
        height: 400px;

    }


    .logo_home {
        height: auto;
        margin-top: 14.8rem;
        width: 100%;
        text-align: center;

    }
}