/*
 *   Description: Locationary
 *   Modified: 22-12-2015
 *   Version: 1.0.0
 *   Author: Mathias Notaert, Matthias De Lange, Ellen Tijtgat
 *   --------------------------------------
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'bebasregular', sans-serif;

}

/* Body */
body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'bebasregular', sans-serif;
}

/*
* Header-wrapper
*/
.header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 998;
    /*height: 90px;*/
    width: 100%;
    overflow:auto;

    background: #109a78;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.header-wrapper h3 {
    font-size: 20px;
    font-family: 'bebasregular', sans-serif;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

}


.header {
    position: relative;
}
.header-wrapper > div > div > div {
    margin-bottom: 0;
}
.header::before, #header::after {
    content: "\f0c9";
    display: block;
    height: 0;
    overflow: hidden;
}
.header::after {
    clear: both;
}
.header__navigation-toggle {
    float:left;
    margin-top: 1.5rem;

    text-decoration: none;
    /* KLEUR VAN DE OFFCANVASBUTTON*/
    color: white;
    padding-bottom: 20px;
}
.header__navigation-toggle::before {
    display: block;
    content: '\f0c9';

    font-family: FontAwesome;
    font-size: 2rem;

    transition: all 320ms ease-out 0s;
}
.offcanvas-open .header__navigation-toggle::before,
.headernav-open .header__navigation-toggle::before {
    transform: rotate(90deg);
    transition: all 320ms ease-out 0s;
}
.header__navigation-toggle > span {
    display: none;
}
.header__navigation {
    float: left;
    clear: right;
    width: 100%;
    display: none;
}
.headernav-open #header__navigation {
    display: block;
}

.header__navigation > ul {
    list-style: none;

    margin: 0;
    padding: 0;

}
.header__navigation > ul > li {
    float: left;
    width: 100%;

}
.header__navigation .navigation__item {
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: 'bebasregular', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color:  white;
}

/* Kleur van de input box glow aanpassen */

input:focus {
    outline-color: #9A1736;
}



/*
* Countries pagina
*/


.countries-list>ul {
    padding: 0;
    margin: 0;
}

.country__title {
    font-family: 'Bebas', sans-serif;
}

/*
* Listitem for country
*/
.country__listitem {
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;

    font-size: 1rem;

    border: 1px solid #c0c0c0;
    border-radius: 1px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
    background:white;

}

.country__listitem:hover {
    background: #9A1736;
}
.country__listitem:active {
    background: #9A1736;
}


.country__listitem .country__title {
    /*pas de titel van het land in de lijst aan */
    padding: 1rem;
    min-height: 36px;
    float: left;


}
.country__listitem .country__title > h3 {
    padding: 0;
    margin: 0;

}

.countries__title {
    word-spacing: 2px;
}


/* STYLING COUNTRIES LIST */
.countries-list ul li a {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: white;
    color: black;
}

.countries-list ul li a:hover{
    color: white;
}

.countries-list ul li a:hover .btn-arrow span{
    color:white;
}


/* GRAFIEKEN AANPASSEN */

/* aanpassen tekst horizontale as */
.ct-label.ct-horizontal {
    font-size: 0.75rem;
    transform: translateX(-10px) rotate(-90deg);
    width: 33px;
    height: 24px;
}

/* aanpassen kleuren lijn en punt */
.ct-series-a .ct-line {
    stroke: #9A1736;
}

.ct-series-a .ct-point {
    stroke: #9A1736;
}

.ct-chart-line {
    position: fixed;
}

.ct-label.ct-horizontal.ct-end{
    width: 33px;
    height: 24px;
}



.details h2 {
    margin-left: 15px;
    font-family: 'bebasregular', sans-serif;

}


.icon-detail {
    height: 100px;
    display: block;
    text-align: center;
    margin: 0 auto;

}



/* ICON IN DE ZOEKBAR */
#txtSearch {
    background: url(../../images/icons/zoekbar.png) no-repeat 10px 10px;
    padding-left: 55px;
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 1px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
}



/* FOOTER AANPASSEN */
.footer {
    position: relative;
    height: 50px;
    width: 100%;

    background: #109a78;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.footer p {
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;

}

.footer a {
    color: white;
}

.footer a:hover {
    color:  #9A1736;
}


/* Image header*/
.img-header img {
    width: 100%;
    background-size: cover;
}

.img-404 img {
    height: 200px;
}

.page404 h1 {
    color: #109a78;
    font-size: 40px;
    word-spacing: 10px;
    font-family: 'bebasregular', sans-serif;
}


/* google maps */
#map-container {
    display: block;
}

#googleMap {
    height: 300px;
    width: 100%;
}



/* Titel Grafieken */
.country-details-forrestarea > h3 {
    text-align: center
}

.country-details-pricediesel > h3 {
    text-align: center;
}

.country-details-pricegasoline > h3 {
    text-align: center;
}

.country-details-internetconnections > h3 {
    text-align: center;
}

.country-details-improvedwatersources > h3 {
    text-align: center;
}

.country-details-merchandisetrade > h3 {
    text-align: center;
}

.country-details-agriculturalland > h3 {
    text-align: center;
}

.country-details-mobilesubscriptions > h3 {
    text-align: center;
}



/*
* MEDIAQUERIES
* Mobile first and then upscaling
*/

@media (min-width: 20rem){
    .img-404 img {
        height: 200px;
        text-align: center;
        margin: 30px auto;
        display: block;
    }

    .page404 h1 {
        color: #109a78;
        font-size: 20px;
        word-spacing: 7px;
        font-family: 'bebasregular', sans-serif;
        text-align: center;
    }

    .page404 p {
        text-align: center;
        font-family: 'roboto', sans-serif;
        margin-right: 10px;
        font-size: 18px;
    }

    .country-details-title {
        font-family: bebasregular, sans-serif;
        font-size: 18px;
    }

    .btn-section > h4 {
        font-size: 14px;
    }

    /* Titel Grafieken */
    .country-details-forrestarea > h3 {
        font-size: 16px;
    }

    .country-details-pricediesel > h3 {
        font-size: 16px;
    }

    .country-details-pricegasoline > h3 {
        font-size: 16px;
    }

    .country-details-internetconnections > h3 {
        font-size: 16px;
    }

    .country-details-improvedwatersources > h3 {
        font-size: 16px;
    }

    .country-details-merchandisetrade > h3 {
        font-size: 16px;
    }

    .country-details-agriculturalland > h3 {
        font-size: 16px;
    }

    .country-details-mobilesubscriptions > h3 {
        font-size: 16px;
    }
}

@media (min-width: 30rem) {
    .header__navigation {
        width: 100%;
    }
    .header__navigation > ul > li {
        width: 50%;
    }
    .header__navigation > ul > li:last-of-type {
        width: 100%;
    }
    .header__navigation .navigation__item {
        height: 64px;
        line-height: 64px;

        text-align: center;
    }

    .img-404 img {
        height: 450px;
        float: left;
        clear: right;
        margin-right: 60px;
    }

    .page404 h1 {
        color: #109a78;
        font-size: 30px;
        word-spacing: 7px;
        font-family: 'bebasregular', sans-serif;
        text-align: center;
    }

    .page404 p {
        text-align: center;
        font-family: 'roboto', sans-serif;
        margin-right: 10px;
        font-size: 18px;
    }

    .country-details-title {
        font-family: bebasregular, sans-serif;
        font-size: 26px;
    }

    .btn-section > h4 {
        font-size: 20px;
    }

}


@media (min-width: 42.5rem) {
    .offcanvas {
        display: none;
    }
    .header__navigation-toggle {
        display: none;
    }
    .header__navigation {
        width: auto;
        display: block;
    }
    .header__navigation > ul > li {
        width: auto;
    }
    .header__navigation > ul > li:last-of-type {
        width: auto;
    }
    .header__navigation .navigation__item {
        height: 128px;
        line-height: 128px;

        text-align: left;
    }

    .countries__title h2 {
        font-size: 25px;
        margin-left: 50px;
    }

    /* Grafiek aanpassen */
    .ct-label.ct-horizontal {
        font-size: 0.75rem;
        transform: translateX(0px) rotate(0deg);
        width: 33px;
        height: 24px;
    }

    .img-404 img {
        height: 450px;
        float: left;
        clear: right;
        margin-left: 150px;

    }

    .page404 h1 {
        color: #109a78;
        font-size: 40px;
        word-spacing: 7px;
        font-family: 'bebasregular', sans-serif;
        text-align: center;
        margin-right: 50px;
    }

    .page404 p {
        text-align: center;
        font-family: 'roboto', sans-serif;
        margin-right: 10px;
        font-size: 18px;
        margin-right: 50px;
    }

    /* Titel Grafieken */
    .country-details-forrestarea > h3 {
        font-size: 24px;
    }

    .country-details-pricediesel > h3 {
        font-size: 24px;
    }

    .country-details-pricegasoline > h3 {
        font-size: 24px;
    }

    .country-details-internetconnections > h3 {
        font-size: 24px;
    }

    .country-details-improvedwatersources > h3 {
        font-size: 24px;
    }

    .country-details-merchandisetrade > h3 {
        font-size: 24px;
    }

    .country-details-agriculturalland > h3 {
        font-size: 24px;
    }

    .country-details-mobilesubscriptions > h3 {
        font-size: 24px;
    }

    .country-details-title {
        font-family: bebasregular, sans-serif;
        font-size: 26px;
    }

    .btn-section > h4 {
        font-size: 20px;
    }
}


/*klasse voor de zoekbar */
.countryHidden {
    display: none;
}

