/*
* Offcanvas
*/
.offcanvas {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    left: -100%;

    background: rgba(238,238,238 ,1);

    transition: all 320ms ease-out 0s;

}

.offcanvas-open .offcanvas {
    left: 0;

    transition: all 320ms ease-out 0s;
}
.offcanvas__header {
    position:relative;
    height: 160px;
    width: 100%;

    background: url(../images/offcanvasImage.jpg) no-repeat bottom center;
    background-size: cover;
}
.offcanvas__header > h1 {
    position: absolute;
    margin: 0;
    bottom: 1rem;
    left: 1rem;

    font-size: 2rem;
    color: rgba(245,245,245 ,1);
}
.offcanvas__navigation-toggle {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    text-decoration: none;
    color: white;
}

.offcanvas__navigation-toggle > span {
    display: none;
}
.offcanvas__navigation-toggle::before {
    display: block;
    content: '\f00d';

    font-family: FontAwesome;
    font-size: 2rem;

    transform: rotate(0deg);
    transition: all 160ms ease-out 0s;
}
.offcanvas-open .offcanvas__navigation-toggle::before {
    transform: rotate(360deg);
    transition: all 160ms ease-out 0s;
}
.offcanvas__navigation > ul {
    style: none;

    margin: 0;
    padding: 0;
}
.offcanvas__navigation > ul > li {
    width: 100%;
}
.offcanvas__navigation .navigation__item {
    display: block;
    height: 45px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;

    background: #109a78;
    border-bottom: 1px solid rgba(245,245,245 ,1);

    text-decoration: none;
    color: rgba(245,245,245 ,1);
    font-family: 'Bebas', sans-serif;
}
.offcanvas__navigation .navigation__item .fa {
    margin-right: 1rem;
    width: 2rem;
    font-size: 20px;
    text-align: center;
    color: white;
}
.offcanvas__navigation > ul > li:last-of-type .navigation__item {
    border-bottom: none;
}

.offcanvas__navigation ul li a:hover  {
    background-color: #9a1032;
}

.offcanvas__navigation ul li a:active {
    background-color: #9a1032;
}

