
/*
* Profiel pagina
*/
.profiles > h2  {
     word-spacing: 10px;
 }

.profiles > h3  {
    word-spacing: 10px;
}

.profile-list>ul {
    padding: 0;
    margin: 0;
}

.profile__title {
     font-family: 'Bebas', sans-serif;
     text-decoration: none;
     color: black;
 }

/*
* Listitem for country
*/
.profile__listitem {
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;

    font-size: 1rem;

    border: 1px solid #c0c0c0;
    border-radius: 1px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
    background:white;

}

.profile__listitem:hover {
    background: #9A1736;
}
.profile__listitem:active {
    background: #9A1736;
}


.profile__listitem .profile__title {
    /*pas de titel van het land in de lijst aan */
    padding: 1rem;
    min-height: 36px;
    float: left;


}
.profile__listitem .profile__title > h3 {
    padding: 0;
    margin: 0;

}

.profile__title {
    word-spacing: 2px;
}

.profile-list ul li a:hover{
    color: white;
}

.profile-list ul li a:hover .btn-arrow span{
    color:white;
}

.profile-list ul li a:hover .btn-profile span{
    color:white;
}

.profile-list ul li a:hover .profile__title {
    color: white;
}


/*
* MEDIAQUERIES
* Mobile first and then upscaling
*/

@media (min-width: 20rem){
    .profile__title{
        font-size: 16px;
        margin-left: -25px;
    }

}

@media (min-width: 30rem) {
    .profile__title{
        font-size: 18px;
    }

}


@media (min-width: 42.5rem) {
    .profile__title{
        font-size: 20px;
    }
}


